<p-card header="Entidades">
  <p-toast></p-toast>

  <!-- Toolbar con botones -->
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <p-button severity="info" label="Todos los Contactos" class="ml-2 mr-2" (onClick)="verTodosContactos()">
        <i class="pi pi-users mr-2"></i>
      </p-button>

      <p-button severity="success" label="Nueva" class="mr-2" (onClick)="openNew()">
        <i class="bi bi-plus-circle-dotted mr-2"></i>
      </p-button>

      <p-button severity="danger" label="Eliminar" [disabled]="!selectedEntidades.length"
        [badge]="selectedEntidades.length.toString()" (onClick)="deleteSelected()">
        <i class="bi bi-trash3 mr-2"></i>
      </p-button>
    </ng-template>
  </p-toolbar>

  <!-- Modal de entidad -->
  <app-modal-entidad [(visible)]="entidadDialog" [entidad]="entidad" (saveEntidad)="handleSave($event)">
  </app-modal-entidad>

  <!-- Tabla PrimeNG -->
  <p-table #dt 
    [value]="entidadesFiltradas" 
    [rows]="10" 
    [paginator]="true"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true" 
    dataKey="id" 
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
    [showCurrentPageReport]="true" 
    [loading]="entidadesService.loading()" 
    [(selection)]="selectedEntidades"
  >

    <!-- Caption con buscador potente -->
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Lista de entidades</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input 
            pInputText 
            type="text" 
            [(ngModel)]="searchText"
            placeholder="Buscar ..." 
            class="buscador" 
          />
        </span>
      </div>
    </ng-template>

    <!-- Cabecera de la tabla -->
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
        <th pSortableColumn="nombrec" style="min-width:15rem">Nombre <p-sortIcon field="nombrec"></p-sortIcon></th>
        <th pSortableColumn="email" style="min-width:15rem">Email <p-sortIcon field="email"></p-sortIcon></th>
        <th pSortableColumn="nit">Nit <p-sortIcon field="nit"></p-sortIcon></th>
        <th pSortableColumn="telefono">Teléfono <p-sortIcon field="telefono"></p-sortIcon></th>
        <th pSortableColumn="direccion" style="min-width:10rem">Dirección <p-sortIcon field="direccion"></p-sortIcon></th>
        <th>Opciones</th>
      </tr>
    </ng-template>

    <!-- Cuerpo de la tabla -->
    <ng-template pTemplate="body" let-entidad>
      <tr>
        <td><p-tableCheckbox [value]="entidad" /></td>
        <td>{{ entidad.nombrec }}</td>
        <td>{{ entidad.email }}</td>
        <td>{{ entidad.nit }}</td>
        <td>{{ entidad.telefono }}</td>
        <td>{{ entidad.direccion }}</td>
        <td>
          <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" severity="success"
            (onClick)="edit(entidad)" />
          <p-button icon="pi pi-trash" class="mr-2" severity="danger" [rounded]="true" [outlined]="true"
            (onClick)="deleteEntidad(entidad)" />
          <p-button icon="pi pi-users" severity="info" [rounded]="true" [outlined]="true"
            (onClick)="verContactos(entidad)"></p-button>
        </td>
      </tr>
    </ng-template>

    <!-- Resumen de la tabla -->
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        Total {{ total() }} entidades.
      </div>
    </ng-template>

  </p-table>
</p-card>